<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">지금까지 GDG Cloud한 일들</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <h4><b></b>withGCP
                                    <br>2017</h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>December 2017</h4>
                                    <h4 class="subheading">withGCP 2017</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Google Cloud Community인 GCPUG에서 진행한 행사</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>GCPUG
                                    <br>Hackathon
                                    <br>2018</h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>March 2018</h4>
                                    <h4 class="subheading">GCPUG Hackathon 2018</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">구글 클라우드 해카톤 행사</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <h4>Google Next
                                    <br>Extended
                                    <br>2018</h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>October 2018</h4>
                                    <h4 class="subheading">Next'18 Extended Seoul</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">구글의 대표적인 클라우드 행사인 Next'18의 Extended 행사</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>GCP
                                    <br>Opening
                                    <br>Party</h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>March 2019</h4>
                                    <h4 class="subheading">GCP Opening Party - feat. Sharing Experiences</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">2019 GCP 개강파티</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <h4>NEXT
                                    <br>Extended
                                    <br>2019</h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>April 2019</h4>
                                    <h4 class="subheading">Next'19 Extended Korea</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">구글의 대표적인 클라우드 행사인 Next'19의 Extended 행사</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>NEXT
                                    <br>Recap
                                    <br>2019</h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>May 2019</h4>
                                    <h4 class="subheading">Next Recap 커뮤니티 라운지</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">구글 클라우드팀의 Next Recap행사 커뮤니티 라운지 운영</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline">
                            <div class="timeline-image">
                                <h4>NEXT
                                    <br>Extended
                                    <br>2019</h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>August 2019</h4>
                                    <h4 class="subheading">Next'19 in ToKyo Extended</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">도쿄 Next'19의 연사자분들을 초청해서 진행한 행사</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Cloud Summit
                                    <br>Seoul
                                    <br>2019</h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>NOVEMBER 2019</h4>
                                    <h4 class="subheading">Google Cloud Summit Seoul DevZone</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">구글 클라우드팀의 Cloud Summit Seoul 행사 데브존 운영</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline">
                            <div class="timeline-image">
                                <h4>Hands-on
                                    <br>2019</h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>DECEMBER 2019</h4>
                                    <h4 class="subheading">GDG의 골목 클라우드</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">GCP 인프라에 인스턴스 생성부터 LB까지.  Hands-on 진행</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
