<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">지금까지 GDG Cloud한 일들</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/gcp.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>December 2017</h4>
                                    <h4 class="subheading">withGCP 2017</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Google Cloud Community인 GCPUG에서 진행한 행사</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/hackathon.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>March 2018</h4>
                                    <h4 class="subheading">GCPUG Hackathon 2018</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">구글 클라우드 해카톤 행사</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/next)2918.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>October 2018</h4>
                                    <h4 class="subheading">Google Next Extended Seoul 2018</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">구글의 대표적인 클라우드 행사인 Google Next 2018의 Extended 행사</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>지금도
                                    <br>진행중!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>